<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- <link rel="shortcut icon" href="img/fav.png"> -->
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Canvas-vacation</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
   rel = "stylesheet">

</head>

<body>

    <header class="stickyHeader">
        <div class="headerBlue">
            
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12 text-left">
                        
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Contact us on <a href="#">+91 90000 0000 0</a></p>
                        
                    </div>
                    <div class="col-lg-6 col-md-12 text-md-left text-lg-right">
                        <p>My Booking: </p>
                        <form class="bookingDropForm clearfix">
                            <select class="currency">
                                <option value="USD">USD</option>
                                <option value="INR">INR</option>
                            </select>
                        </form>
                        <a href="#"><img src="img/cart.png" alt="#"> </a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="img/logo_img.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu text-black ">
                        <li class="menu-active"><a href="index.html">HOME</a></li>
                        <li><a href="about-us.html">ABOUT US</a></li>
                        <li><a href="#">WHERE TO BUY  </a></li>
                        <li><a href="#">FUNDATION</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="contact-us.html">CONTACT</a></li>

                        <!-- <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        </li> -->
                        <li><a class="btn ticker-btn " id="menu_btn" href="#">BOOK NOW</a></li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->


    <!-- start banner Area -->
    <section class="banner-area relative innerBanner hotelDescBanner" id="home" style="background-image: url(img/afterloginBanner.jpg);">
        <!-- <div class="overlay overlay-bg"></div> -->
        <div class="overlay"></div>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">                
                <div class="col-md-12 col-lg-6 offset-lg-6 afterLoginBanner">
                    <h1>Great Hotel Deals </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a href="#" class="btn">Find out more</a>
                </div>                
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    

<section class="formTabs">
    
    <div class="container">
        
        <div class="row">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#homee">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu3">Package</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              
              
              
<div id="homee" class="container tab-pane active clearfix"><br>
    
    <div class="hotelSearfchModifier catSection">

        <form class="clearfix form-inline">
            
        <div class="form-group">                                
            <label>Location</label>
            <input class="formn-control" id="dp1535028146036" type="text">                              
        </div>

        <div class="form-group">                                
            <label>Check in</label>
            <span><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
            <input class="formn-control datepicker" id="dp1535028146036" type="text">                                
        </div>

        <div class="form-group">                                
            <label>Check out</label>
            <span><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
            <input class="formn-control datepicker" id="dp1535028146037" type="text">                                
        </div>



        <div class="form-group">                                
            <label>Adults</label>
            <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            
            <select class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>                              
        </div>
            
        <div class="form-group">                                
            <label>Rooms</label>
            <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>

            <select class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>                              
        </div>

        <div class="form-group">  
            <label>Submit</label>
            <button class="btn" type="submit">search now</button>                              
        </div>

        </form>

    </div>
</div>
              
              
              
            <div id="menu1" class="container tab-pane fade"><br>
              <h3>Menu 1</h3>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
              <h3>Menu 2</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>              
            <div id="menu3" class="container tab-pane fade"><br>
              <h3>Menu 2</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
        </div>
    
        
    </div>
    
</section>
    

    
    
    
    
    
    <!-- Start video-sec Area -->

    <footer class="footer-area about_footer pb-100 pt-100" style="background: #f8f8f8">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h6 class="text-left margin_top-45"><img class="img img-responsive" src="img/logo_img.png" alt=""></h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <!-- <p class="footer-text"> -->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!-- Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> © All Rights Reserved. 2017 - 2018 -->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!-- </p> -->
                        <br>
                        <p>+9588888888888</p>

                        <p>Dummy Adress, CA478956, Newyork City</p>

                        <p> Other Website : <a class="link_" href="www.canvasvacation.com">canvasvacation.com</a></p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single-footer-widget">
                        <h6 class="text-black">Useful Link</h6>
                        <ul class="footer-social  align-items-center text-black">
                            <li><a href="#">Home</a></li>
                            <li><a href="#"> about Us</a></li>
                            <li><a href="#">where To Buy</a></li>
                            <li><a href="#">foundation</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single-footer-widget">
                        <h6 class="text-black">Follow Us</h6>
                        <ul class="footer-social  align-items-center text-black">
                            <li><a href="#">facebook</a></li>
                            <li><a href="#"> Twitter</a></li>
                            <li><a href="#">Instragram</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#"> Youtube</a></li>
                            <li><a href="#"> Pinterest</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6 class="text-black">Instragram</h6>

                        <div class="footer-social d-flex align-items-center">
                            <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a> -->
                            <img src="img/instagram_img.png" alt="">

                        </div>
                        <br> <br>
                        <div class="" id="mc_embed_signup">
                            <form class="form-inline">
                                <input class="form-control pull-left" name="email" placeholder="Your Email" required="" type="email">
                                <button class="click-btn btn btn-default pull-left" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="callaction-area footer_copy_right">

        <div class="container">
            <p class="text-white text-center">© All Rights Reserved. 2017 - 2018</p>
        </div>
    </section>

    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>