<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- <link rel="shortcut icon" href="img/fav.png"> -->
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Canvas-vacation</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
   rel = "stylesheet">

</head>

<body>

    <header class="stickyHeader">
        <div class="headerBlue">
            
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12 text-left">
                        
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Contact us on <a href="#">+91 90000 0000 0</a></p>
                        
                    </div>
                    <div class="col-lg-6 col-md-12 text-md-left text-lg-right">
                        <p>My Booking: </p>
                        <form class="bookingDropForm clearfix">
                            <select class="currency">
                                <option value="USD">USD</option>
                                <option value="INR">INR</option>
                            </select>
                        </form>
                        <a href="#"><img src="img/cart.png" alt="#"> </a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="img/logo_img.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu text-black ">
                        <li class="menu-active"><a href="index.html">HOME</a></li>
                        <li><a href="about-us.html">ABOUT US</a></li>
                        <li><a href="#">WHERE TO BUY  </a></li>
                        <li><a href="#">FUNDATION</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="contact-us.html">CONTACT</a></li>

                        <!-- <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        </li> -->
                        <li><a class="btn ticker-btn " id="menu_btn" href="#">BOOK NOW</a></li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->


    <!-- start banner Area -->
    <section class="banner-area relative innerBanner hotelDescBanner" id="home" style="background-image: url(img/hotelDesc.jpg);">
        <!-- <div class="overlay overlay-bg"></div> -->
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                <div class="banner-content col-lg-8 col-md-12 text-lg-left text-md-left clearfix">
                    
                    <div class="clearfix">
                        
                        <div class="starHolder">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>

                        <div class="hotelName">
                            <h4>Atlanta beach resort</h4>
                        </div>

                        <div class="hotelAddress">                        
                            <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Opp. St. Anthony's ChapelGauravvadddo</p>
                        </div>                        
                    </div>                    
                </div>
                
                <div class="banner-content col-lg-4 col-md-12 text-lg-right text-md-left bigIco clearfix">                    
                    <ul>
                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a> </li>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> </li>
                    </ul>                    
                </div>
                
                
            </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    
    <!--descriptions-->
    
    <section class="description">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 relative push-lg-8">
                    
                    <div class="hotelRules clearfix">
                        
                        <div class="rulesHead text-center">
                            <h4>$ <span>120.0</span></h4>
                            <p>From/per night</p>
                        </div>
                        
                        
                        <form class="clearfix">
                            
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">                               
                                        <label>type</label>                               
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="hotel">
                                    </div>
                                </div>
                                
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">                               
                                        <label>star</label>                               
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="4 star">
                                    </div>
                                </div>
                                
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">                               
                                        <label>location</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="4London, 1.6 miles to Hyde Park">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">                               
                                        <label>phone</label>                               
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="+844 123 456 78">
                                    </div>
                                </div>
                                
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">                               
                                        <label>Checkin</label>                               
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="8:30">
                                    </div>
                                </div>
                                
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">                               
                                        <label>Checkout</label>                               
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="4:00">
                                    </div>
                                </div>

                          
                            
                            <div>
                                <button class="btn" type="submit"><i class="fa fa-heart-o" aria-hidden="true"></i> add to widhlist</button>
                            </div>
                            
                        </form>
                        
                    </div>                    
                    
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 clearfix pull-lg-4">
                    
                    <ul class="descriptionList">
                        
                        <li class="activeSection"> <a href="#">rate</a> </li>
                        <li> <a href="#">information</a> </li>
                        <li> <a href="#">picture</a> </li>
                        <li> <a href="#">map</a> </li>
                        <li> <a href="#">facilities</a> </li>
                        
                    </ul>
                    
                    <div class="hotelRate catSection clearfix">
                        
                        <h4 class="secHead">rooms</h4>
                        
                        <div class="row">
                            
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 clearfix bookingCriteria">
                                
                                <div>
                                    <img src="img/room.jpg" alt="#">
                                </div>
                                
                                <div class="roomDetails">
                                    
                                    <h4>Single Room</h4>
                                    
                                    <ul>
                                        
                                        <li>bed <span>3</span></li>
                                        <li>people <span>3</span></li>
                                        <li>view <span>yes</span></li>
                                        <li>room size <span>80</span></li>                                        
                                    </ul>
                                    
                                    <a href="#">View More</a>
                                    
                                </div>
                                
                                <div class="bookingQuantity">                                    
                                    <p>Room : <span>1</span></p>                                   
                                    <p>Adult : <span>2</span></p>                                    
                                    <p>Children : <span>1</span></p>                                    
                                </div>
                                
                                <div>
                                </div>
                                
                            </div>
                            
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 confirmHotelBooking text-lg-center text-md-left">
                                <h4>$ <span>120.0</span></h4>                                
                                <p>From/per night</p>                                
                                <a href="#" class="btn text-capitalize">book this now</a>                                
                            </div>
                            
                        </div> 
                        
                        <div class="row">
                            
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 clearfix bookingCriteria">
                                
                                <div>
                                    <img src="img/room.jpg" alt="#">
                                </div>
                                
                                <div class="roomDetails">
                                    
                                    <h4>Single Room</h4>
                                    
                                    <ul>
                                        
                                        <li>bed <span>3</span></li>
                                        <li>people <span>3</span></li>
                                        <li>view <span>yes</span></li>
                                        <li>room size <span>80</span></li>                                        
                                    </ul>
                                    
                                    <a href="#">View More</a>
                                    
                                </div>
                                
                                <div class="bookingQuantity">                                    
                                    <p>Room : <span>1</span></p>                                   
                                    <p>Adult : <span>2</span></p>                                    
                                    <p>Children : <span>1</span></p>                                    
                                </div>
                                
                                <div>
                                </div>
                                
                            </div>
                            
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 confirmHotelBooking text-lg-center text-md-left">
                                <h4>$ <span>120.0</span></h4>                                
                                <p>From/per night</p>                                
                                <a href="#" class="btn text-capitalize">book this now</a>                                
                            </div>
                            
                        </div> 
                        
                    </div>
                    
                    <div class="hotelSearfchModifier catSection">
                        
                        <h4 class="secHead">modify search</h4>
                        
                        <form class="clearfix">
                            
                            <div class="form-group">                                
                                <label>Check in</label>
                                <span><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                <input class="formn-control datepicker" type="text">                                
                            </div>
                            
                            <div class="form-group">                                
                                <label>Check out</label>
                                <span><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                <input class="formn-control datepicker" type="text">                                
                            </div>
                            
                            <div class="form-group">                                
                                <label>Adult</label>
                                <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <select class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>                              
                            </div>
                            
                            <div class="form-group">                                
                                <label>Rooms</label>
                                <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <select class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>                              
                            </div>
                            
                            <div class="">                                
                                <button class="btn" type="submit">search now</button>                              
                            </div>
                            
                        </form>
                        
                    </div>
                    
                    <div class="hotelInformation catSection">
                        
                        <h4 class="secHead">information</h4>
                        
                        <p>With a stay at Atlanta Beach Resort in Calangute (Calangute and Baga Beaches), you'll be close to Calangute Beach and Anjuna Beach.</p>
                        <p>This hotel is within close proximity of St. Anthony's Chapel and Baga Beach.
                        Rooms Make yourself at home in one of the air-conditioned rooms featuring kitchenettes. Cable television is provided for your entertainment. Conveniences include direct-dial phones, as well as refrigerators and ceiling fans.</p>
                        <p>Rec, Spa, Premium Amenities Enjoy the recreation opportunities such as an outdoor pool or make use of other amenities including an arcade/game room.
                        Dining Enjoy a satisfying meal at a restaurant serving guests of Atlanta Beach Resort. At the end of the day, relax with your favorite drink at a bar/lounge.
                        Business, Other Amenities Featured amenities include currency exchange, laundry facilities, and a safe deposit box at the front desk. A roundtrip airport shuttle is provided for a surcharge, and free parking is available onsite.</p>
                        
                    </div>
                    
                    <div class="hotelPicture catSection">
                        <h4 class="secHead">pictures</h4>                        
                        
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                        <a href="img/btbg.png"> <img src="img/btbg.png" alt="#"> </a>
                    </div>
                    
                    <div class="hotelMap catSection">
                        <h4 class="secHead">map</h4>                        
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2766.632049741738!2d-77.03893357134001!3d38.90603164598473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1534939243259" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                    <div class="hotelFacilities catSection">
                        <h4 class="secHead">Facilities</h4>  
                        <ul>
                            <li>wifi</li>
                            <li>spa</li>
                            <li>partys</li>
                            <li>TV</li>
                            <li>Beach</li>
                        </ul>
                    </div>
                    
                </div>                
                
                
            </div>
            
        </div>
        
    </section>
    
    <!--descriptions end-->

    <!-- Start video-sec Area -->

    <footer class="footer-area about_footer pb-100 pt-100" style="background: #f8f8f8">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h6 class="text-left margin_top-45"><img class="img img-responsive" src="img/logo_img.png" alt=""></h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <!-- <p class="footer-text"> -->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!-- Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> © All Rights Reserved. 2017 - 2018 -->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!-- </p> -->
                        <br>
                        <p>+9588888888888</p>

                        <p>Dummy Adress, CA478956, Newyork City</p>

                        <p> Other Website : <a class="link_" href="www.canvasvacation.com">canvasvacation.com</a></p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single-footer-widget">
                        <h6 class="text-black">Useful Link</h6>
                        <ul class="footer-social  align-items-center text-black">
                            <li><a href="#">Home</a></li>
                            <li><a href="#"> about Us</a></li>
                            <li><a href="#">where To Buy</a></li>
                            <li><a href="#">foundation</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single-footer-widget">
                        <h6 class="text-black">Follow Us</h6>
                        <ul class="footer-social  align-items-center text-black">
                            <li><a href="#">facebook</a></li>
                            <li><a href="#"> Twitter</a></li>
                            <li><a href="#">Instragram</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#"> Youtube</a></li>
                            <li><a href="#"> Pinterest</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6 class="text-black">Instragram</h6>

                        <div class="footer-social d-flex align-items-center">
                            <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a> -->
                            <img src="img/instagram_img.png" alt="">

                        </div>
                        <br> <br>
                        <div class="" id="mc_embed_signup">
                            <form class="form-inline">
                                <input class="form-control pull-left" name="email" placeholder="Your Email" required="" type="email">
                                <button class="click-btn btn btn-default pull-left" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="callaction-area footer_copy_right">

        <div class="container">
            <p class="text-white text-center">© All Rights Reserved. 2017 - 2018</p>
        </div>
    </section>

    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>